*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    height: 2000px;
    width: 1440px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "nav nav nav nav2 nav2 nav2"
                        "main main main main main main"
                        "conteudo1 conteudo1 conteudo1 conteudo1_2 conteudo1_2 conteudo1_2"
                        "conteudo2 conteudo2 conteudo2 conteudo2 conteudo2 conteudo2"
                        "conteudo3 conteudo3 conteudo3 conteudo3 conteudo3 conteudo3"
                        "conteudo4_1 conteudo4_1 conteudo4_1 conteudo4_2 conteudo4_2 conteudo4_2"
                        "conteudo5 conteudo5 conteudo5 conteudo5 conteudo5 conteudo5"
                        "conteudo6 conteudo6 conteudo6 conteudo6 conteudo6 conteudo6"
                        "conteudo7_1 conteudo7_1 conteudo7_2 conteudo7_2 conteudo7_3 conteudo7_3"
                        "conteudo8 conteudo8 conteudo8 conteudo8 conteudo8 conteudo8"
                        "conteudo9  conteudo9 conteudo9 conteudo9 conteudo9 conteudo9"
                        "conteudo10 conteudo10 conteudo10 conteudo10 conteudo10 conteudo10"
                        "conteudo11_1 conteudo11_1 conteudo11_1 conteudo11_2 conteudo11_2 conteudo11_2 "
                        "conteudo12_1 conteudo12_1 conteudo12_2 conteudo12_2 conteudo12_3 conteudo12_3 ";
}

#nav{
    background-color: #84C1D9;
    grid-area: nav;
}

.titulo {
    padding-top: 5px; 
    background-color:#84C1D9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    line-height: .7;
    margin-left: 70px;
}

.subtt {
    padding-top: 25px;
    background-color: #84C1D9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: left;
    margin-left: -30px;
}

#nav2{
    background-color: #DFF2F2;
    grid-area: nav2;
}

.ambulancia{
    margin-left: 70px;
    margin-top: -10px;
}

.bombeiros{
    margin-left: 270px;
    margin-top: -100px;
}

.policia{
    margin-left: 470px;
    margin-top: -90px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-top: 5px;
}
.samu{
    margin-left: 8px;
    margin-top: -10px;
}
.abt{
    margin-left: 185px;
    margin-top: -20px;
}

.viatura{
    margin-left: 375px;
    margin-top: -22px;
}

.telefone1{
    margin-left: 18px;
    margin-top: -8px;
}

.telefone2{
    margin-left: 220px;
    margin-top: -20px;
}

.telefone3{
    margin-left: 395px;
    margin-top: -25px;
}

#main{
    background-color: #FFFFFF;
    grid-area: main;
}
.titulo2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -40px;
}
.titulo3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#conteudo1{
    background-color: #DFF2F2;
    grid-area: conteudo1;
}
.parcial{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}
.lista{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    grid-column: 4/6;
    grid-row: 2/6;
    text-align: center;
}

#conteudo1_2{
    background-color: #DFF2F2;
    grid-area: conteudo1_2;
}

.total{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    grid-column: 4/6;
    grid-row: 3/3;
    text-align: center;
    text-shadow: 2px 2px black;
}

.lista2{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    grid-column: 4/6;
    grid-row: 3/6;
    text-align: center;
}

#conteudo2{
    background-color: #FFFFFF;
    grid-area: conteudo2;
    border-width: medium;
    border-style: solid;
    border-color: #D90404;
    
}
.atencao{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;  
}
.alerta1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.bebida{
    margin-left: 400px;
    margin-top: -25px;
}
.alerta2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

.aviso{
    margin-left: 0px;
    margin-top: -35px;
}

#conteudo3{
    background-color: #FFFFFF;
    grid-area: conteudo3;
}

.titulo4 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#conteudo4_1{
    background-color: #FFFFFF;
    grid-area: conteudo4_1;
}

.video{
    position: absolute;
    margin-left: 150px;
    margin-top: -45px;
    background: #FFFFFF;
    text-align: center;
}

.container form {
    padding: 20px 10px 20px 10px;
    background-color: #FFFFFF;
    border: 2px solid #84C1D9;
    border-radius: 8%;
}

#conteudo4_2{
    background-color: #FFFFFF;
    grid-area: conteudo4_2;
}

.alvo1{
    margin-left: -140px;
}

.etapa1{
    margin-top: -35px;
    margin-left: -90px;
}

.alvo2{
    margin-left: -80px;
    margin-top: 70px;
}

.etapa2{
    margin-top: -50px;
    margin-left: -30px;
    text-align: center;
}

.alvo3{
    margin-top: 40px;
}

.etapa3{
    margin-top: -35px;
    margin-left: 50px;
}

#conteudo5{
    background-color: #FFFFFF;
    grid-area: conteudo5;
}

.manobra{
    margin-top: -500px;
    margin-left: 300px
}

#conteudo6{
    background-color: #F2F2F2;
    grid-area: conteudo6;
}
.titulo5{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.passos{
    text-align: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

#conteudo7_1{
    background-color: #FFFFFF;
    grid-area: conteudo7_1;
}
#conteudo7_2{
    background-color: #FFFFFF;
    grid-area: conteudo7_2;
}
#conteudo7_3{
    background-color: #FFFFFF;
    grid-area: conteudo7_3;
}
#conteudo8{
    background-color: #F2F2F2;
    grid-area: conteudo8;
}
#conteudo9{
    background-color: #F2F2F2;
    grid-area: conteudo9;
}
#conteudo10{
    background-color: #FFFFFF;
    grid-area: conteudo10;
}
#conteudo11_1{
    background-color: #FFFFFF;
    grid-area: conteudo11_1;
}
#conteudo11_2{
    background-color: #FFFFFF;
    grid-area: conteudo11_2;
}
#conteudo12_1{
    background-color: #84C1D9;
    grid-area: conteudo12_1;
}
#conteudo12_2{
    background-color: #DFF2F2;
    grid-area: conteudo12_2;
}
#conteudo12_3{
    background-color: #84C1D9;
    grid-area: conteudo12_3;
}
