*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    height: 1080px;
    width: 1440px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "nav nav nav nav2 nav2 nav2"
                        "main main main main2 main2 main2"
                        "conteudo1 conteudo1 conteudo1 conteudo1 conteudo1 conteudo1"
                        "conteudo2 conteudo2 conteudo2 conteudo2 conteudo2 conteudo2"
                        "conteudo3_1 conteudo3_1 conteudo3_1 conteudo3_2 conteudo3_2 conteudo3_2"
                        "conteudo3_1 conteudo3_1 conteudo3_1 conteudo3_3 conteudo3_3 conteudo3_3"
                        "conteudo3_4 conteudo3_4 conteudo3_4 conteudo3_4 conteudo3_4 conteudo3_4"
                        "conteudo5_1 conteudo5_1 conteudo5_2 conteudo5_2 conteudo5_3 conteudo5_3";
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    font-weight: 400;

}

#nav{
    background-color: #84C1D9;
    grid-area: nav;
}
#nav2{
    background-color: #DFF2F2;
    grid-area: nav2;
}

img {
    margin-left: 70px;
    margin-top: -30px;
}

p {
    margin-left: 100px;
    margin-top: -20px;
}
#telefones{
    margin-left: 15px;
    margin-top: 15px;
}

#main{
    background-color: #FFFFFF;
    grid-area: main;
}
#main2{
    background-color: #FFFFFF;
    grid-area: main2
}
#conteudo1{
    background-color: #FFFFFF;
    grid-area: conteudo1
}
#conteudo2{
    background-color: #DFF2F2;
    grid-area: conteudo2
}
#conteudo3_1{
    background-color: #FFFFFF;
    grid-area: conteudo3_1
}
#conteudo3_2{
    background-color: #FFFFFF;
    grid-area: conteudo3_2
}
#conteudo3_3{
    background-color: #FFFFFF;
    grid-area: conteudo3_3
}
#conteudo3_4{
    background-color: #FFFFFF;
    grid-area: conteudo3_4
}
#conteudo5_1{
    background-color: #84C1D9;
    grid-area: conteudo5_1
}
#conteudo5_2{
    background-color: #DFF2F2;
    grid-area: conteudo5_2
}
#conteudo5_3{
    background-color: #84C1D9;
    grid-area: conteudo5_3
}



/*
<div id="nav">A1</div>
<div id="nav2">A2</div>
<div id="main"> B1</div>
<div id="main2"> B2</div>
<div id="conteudo1"> C1</div>
<div id="conteudo2"> D1</div>
<div id="conteudo3_1">E1</div>
<div id="conteudo3_2">E2.1</div>
<div id="conteudo3_3">E2.2</div>
<div id="conteudo3_4">F1</div>
<div id="conteudo5_1">G1.1</div>
<div id="conteudo5_2">G1.2</div>
<div id="conteudo5_3">G1.3</div> */
